.Card {
  margin-right: 20px;
  .Statement {
    background: $color-background;
    width: 950px;
    height: 85px;
    border-radius: 5px;
    @include between;
    padding-left: 38px;
    cursor: pointer;
  }

  .Statement-no-answers {
    background: $color-background;
    width: 950px;
    height: 85px;
    border-radius: 5px;
    @include between;
    padding-left: 38px;
    cursor: pointer;
    margin-bottom: 28px;
  }

  .Hide-answers {
    opacity: 0.8;
  }

  .Answers {
    background: $color-background-answers;
    margin-left: 40px;
    margin-bottom: 28px;
    padding: 22px 26px;
    border-radius: 5px;

    .Individual-answer {
      @include between;
      margin: 15px 0;

      section {
        display: flex;
        align-items: center;

        .Color-answer {
          width: 30px;
          height: 30px;
          background: #fff;
          margin-right: 22px;
          cursor: pointer;
        }
      }

      @import "./color-picker";
    }
  }
}
